In [21]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import seaborn as sns
import scipy
from scipy import stats
from scipy import stats
import sklearn
from numpy import unique
from numpy import where
from sklearn.datasets import make_classification
from sklearn.mixture import GaussianMixture
#import skbio.stats.composition as comp
import plotly.express as px
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn import svm # SVC para classificação (target discreto) e SVR para regressão (traget contínuo)
from sklearn.ensemble import RandomForestClassifier #só classificação
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import ComplementNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import CategoricalNB
from sklearn import metrics
import GeoSed_stat_funcs as gs
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [2]:
df0=pd.read_excel('C:\\Users\\iande\\Documentos\\proyectos\\ML with lumi data\\osl_parnaiba_table.xlsx',sheet_name="by_aliquot")
df0 = df0.drop(columns=['Unnamed: 0'])
df0 = df0.fillna(33.333)
display(df0.head())
print(np.unique(df0.Unit))

,sample,Unit,Group,BOSL1s,BOSLF,BOSLM,BOSLS,IRSL1.2s/BOSL1s,TL110oC,TL110pos,TL325pos
0,bp100,Serra Grande,Serra Grande,12.811713,38.068407,33.330574,28.601019,19.076664,76.183863,96.2,325.8
1,bp100,Serra Grande,Serra Grande,12.221442,38.772984,31.830463,29.396553,29.591771,75.658334,96.2,325.8
2,bp100,Serra Grande,Serra Grande,13.004011,40.739419,32.236592,27.023990,17.354350,77.313586,96.2,325.8
3,bp100,Serra Grande,Serra Grande,11.314952,39.443369,31.129080,29.427551,27.822570,76.931064,96.2,324.0
4,bp102,Serra Grande,Serra Grande,3.490668,5.954731,19.595849,74.449419,121.146848,58.377886,98.0,334.8

['Cabecas' 'Longa' 'Motuca' 'Piaui' 'Pimenteiras' 'Poti' 'Sambaiba'
 'Serra Grande']

In [3]:
#gs.model_analysis(df0,target='Unit')

In [4]:
	#definir target

#df.target=df.Sinuosity_categories 
#df0.target=df0.Unit
#print(df0.target.head())
#print('Target',df0.Unit.unique()) #

#df0.data=df0.drop(columns=['Unit', 'Group', 'sample']) #
#print(df.data)
pd.set_option("display.max_rows", None, "display.max_columns", None)
#print(df.data)

In [5]:
#df1.Unit[df0['Unit']=='Cabecas']

In [6]:
df1 = df0.loc[df0['Unit']=='Cabecas']
df1.target = df1.Unit
df2 = df0.loc[df0['Unit']=='Longa']
df2.target = df2.Unit
df3 = df0.loc[df0['Unit']=='Motuca']
df3.target = df3.Unit
df4 = df0.loc[df0['Unit']=='Piaui']
df4.target = df4.Unit
df5 = df0.loc[df0['Unit']=='Pimenteiras']
df5.target = df5.Unit
df6 = df0.loc[df0['Unit']=='Poti']
df6.target = df6.Unit
df7 = df0.loc[df0['Unit']=='Sambaiba']
df7.target = df7.Unit
df8 = df0.loc[df0['Unit']=='Serra Grande']
df8.target = df8.Unit
print(df1.target.head())
print(df2.target.head())
len(df1.target),len(df2.target)

128    Cabecas
129    Cabecas
130    Cabecas
131    Cabecas
132    Cabecas
Name: Unit, dtype: object
16     Longa
17     Longa
18     Longa
19     Longa
120    Longa
Name: Unit, dtype: object

C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.target = df1.Unit
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df2.target = df2.Unit
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df3.target = df3.Unit
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:8: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df4.target = df4.Unit
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:10: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df5.target = df5.Unit
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df6.target = df6.Unit
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:14: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df7.target = df7.Unit
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/2568468313.py:16: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df8.target = df8.Unit

(60, 36)

In [7]:
df1.data = df0.loc[df0['Unit']=='Cabecas'].drop(columns=['Unit', 'Group', 'sample'])
df2.data = df0.loc[df0['Unit']=='Longa'].drop(columns=['Unit', 'Group', 'sample'])
df3.data = df0.loc[df0['Unit']=='Motuca'].drop(columns=['Unit', 'Group', 'sample'])
df4.data = df0.loc[df0['Unit']=='Piaui'].drop(columns=['Unit', 'Group', 'sample'])
df5.data = df0.loc[df0['Unit']=='Pimenteiras'].drop(columns=['Unit', 'Group', 'sample'])
df6.data = df0.loc[df0['Unit']=='Poti'].drop(columns=['Unit', 'Group', 'sample'])
df7.data = df0.loc[df0['Unit']=='Sambaiba'].drop(columns=['Unit', 'Group', 'sample'])
df8.data = df0.loc[df0['Unit']=='Serra Grande'].drop(columns=['Unit', 'Group', 'sample'])

print(df1.data.head())
len(df1.data)

print(df2.data.head())
len(df2.data)

        BOSL1s      BOSLF      BOSLM      BOSLS  IRSL1.2s/BOSL1s    TL110oC  \
128  13.968898  35.085435  20.577181  44.337383         5.543432  61.978259
129  12.298183  35.170302  17.742161  47.087537         2.709581  65.869716
130  12.286076  33.647519  23.811382  42.541099         9.598168  68.804425
131  13.053657  42.947503  15.971914  41.080584         2.678601  64.414870
132  15.154258  43.654269  19.672789  36.672943         5.076820  23.752002

     TL110pos  TL325pos
128      94.4     329.4
129      94.4     333.0
130      96.2     327.6
131      94.4     329.4
132      89.0     327.6
       BOSL1s      BOSLF      BOSLM      BOSLS  IRSL1.2s/BOSL1s    TL110oC  \
16   6.384740  27.695152  12.471766  59.833082         9.496733  61.077474
17   6.743364  33.333000  33.333000  33.333000         7.270688  62.978625
18   6.479368  10.469115  25.200362  64.330523         6.177437  65.152833
19   5.951874  34.322368  37.710671  27.966960        23.253302  57.969076
120  3.469397   7.399375  21.453429  71.147196        92.475212  30.066513

     TL110pos  TL325pos
16       98.0     338.4
17       96.2     331.2
18       98.0     338.4
19       96.2     331.2
120      99.8     331.2

C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.data = df0.loc[df0['Unit']=='Cabecas'].drop(columns=['Unit', 'Group', 'sample'])
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df2.data = df0.loc[df0['Unit']=='Longa'].drop(columns=['Unit', 'Group', 'sample'])
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df3.data = df0.loc[df0['Unit']=='Motuca'].drop(columns=['Unit', 'Group', 'sample'])
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df4.data = df0.loc[df0['Unit']=='Piaui'].drop(columns=['Unit', 'Group', 'sample'])
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df5.data = df0.loc[df0['Unit']=='Pimenteiras'].drop(columns=['Unit', 'Group', 'sample'])
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df6.data = df0.loc[df0['Unit']=='Poti'].drop(columns=['Unit', 'Group', 'sample'])
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df7.data = df0.loc[df0['Unit']=='Sambaiba'].drop(columns=['Unit', 'Group', 'sample'])
C:\Users\iande\AppData\Local\Temp/ipykernel_8084/640057547.py:8: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df8.data = df0.loc[df0['Unit']=='Serra Grande'].drop(columns=['Unit', 'Group', 'sample'])

36

In [8]:
		# Normalizar
		# para escolher qual método https://stackoverflow.com/questions/30918781/right-function-for-normalizing-input-of-sklearn-svm

#sklearn.preprocessing.scale(X) # standard scaler - assume distribuições normais e normaliza com média 0 e std 1

#sklearn.preprocessing.normalize(X, axis=0) # normalizer - mantém os ângulos no espaço multidimensional mas não as magnitudes dentro de cada variável

#sklearn.preprocessing.MinMaxScaler().fit_transform(X) - transforma cada variável em valores entre 0 e 1, sensível a outliers.

min_max_scaler = sklearn.preprocessing.MinMaxScaler()

def scaleColumns(dfDat, cols_to_scale):


	n_test = dfDat[cols_to_scale]
#	print('Cols',n_test)
	cols_to_norm = cols_to_scale
	x = n_test.values
	min_max_scaler = sklearn.preprocessing.MinMaxScaler()
	x_scaled = min_max_scaler.fit_transform(x)
	n_test = pd.DataFrame(x_scaled, columns=cols_to_norm)
#	l_test = dfDat.drop(cols_to_norm, axis=1)
#	df_out = pd.concat([n_test, l_test], axis=1)
	df_out=n_test
	return(df_out)


#df0.data=scaleColumns(df0.data,df0.data.columns)
df1.data=scaleColumns(df1.data,df1.data.columns)#['Serra Grande' 'Longa' 'Sambaiba' 'Poti' 'Motuca' 'Piaui' 'Pimenteiras' 'Cabecas'])
df2.data=scaleColumns(df2.data,df2.data.columns)
df3.data=scaleColumns(df3.data,df3.data.columns)
df4.data=scaleColumns(df4.data,df4.data.columns)
df5.data=scaleColumns(df5.data,df5.data.columns)
df6.data=scaleColumns(df6.data,df6.data.columns)
df7.data=scaleColumns(df7.data,df7.data.columns)
df8.data=scaleColumns(df8.data,df8.data.columns)

#print(df.data)

"\nmin_max_scaler = sklearn.preprocessing.MinMaxScaler()\n\ndef scaleColumns(dfDat, cols_to_scale):\n\n\n\tn_test = dfDat[cols_to_scale]\n#\tprint('Cols',n_test)\n\tcols_to_norm = cols_to_scale\n\tx = n_test.values\n\tmin_max_scaler = sklearn.preprocessing.MinMaxScaler()\n\tx_scaled = min_max_scaler.fit_transform(x)\n\tn_test = pd.DataFrame(x_scaled, columns=cols_to_norm)\n#\tl_test = dfDat.drop(cols_to_norm, axis=1)\n#\tdf_out = pd.concat([n_test, l_test], axis=1)\n\tdf_out=n_test\n\treturn(df_out)\n\n\n#df0.data=scaleColumns(df0.data,df0.data.columns)\ndf1.data=scaleColumns(df1.data,df1.data.columns)#['Serra Grande' 'Longa' 'Sambaiba' 'Poti' 'Motuca' 'Piaui' 'Pimenteiras' 'Cabecas'])\ndf2.data=scaleColumns(df2.data,df2.data.columns)\ndf3.data=scaleColumns(df3.data,df3.data.columns)\ndf4.data=scaleColumns(df4.data,df4.data.columns)\ndf5.data=scaleColumns(df5.data,df5.data.columns)\ndf6.data=scaleColumns(df6.data,df6.data.columns)\ndf7.data=scaleColumns(df7.data,df7.data.columns)\ndf8.data=scaleColumns(df8.data,df8.data.columns)\n\n#print(df.data)\n"

Se o número de dados que caracteriza cada classe da variável alvo é muito diferente, a classificação fica enviesada.

Em um procedimento semelhante ao boostrapping, podemos adicionar dados que ocupam valores à metade das distâncias dos dados reais no espaço multi-dimensoinal.

Criando os datasets de treino e de teste

In [9]:
		#criar dataset train e target

#X_train, X_test, y_train, y_test = train_test_split(df0.data, df0.target, test_size=0.44, random_state=50)

X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(df1.data, df1.target, test_size=0.33, random_state=50) # 70% training and 30% test
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(df2.data, df2.target, test_size=0.33, random_state=50)
X_train_3, X_test_3, y_train_3, y_test_3 = train_test_split(df3.data, df3.target, test_size=0.33, random_state=50)
X_train_4, X_test_4, y_train_4, y_test_4 = train_test_split(df4.data, df4.target, test_size=0.33, random_state=50)
X_train_5, X_test_5, y_train_5, y_test_5 = train_test_split(df5.data, df5.target, test_size=0.33, random_state=50)
X_train_6, X_test_6, y_train_6, y_test_6 = train_test_split(df6.data, df6.target, test_size=0.33, random_state=50)
X_train_7, X_test_7, y_train_7, y_test_7 = train_test_split(df7.data, df7.target, test_size=0.33, random_state=50)
X_train_8, X_test_8, y_train_8, y_test_8 = train_test_split(df8.data, df8.target, test_size=0.33, random_state=50)

#print(X_train_1.head())
#print(y_train_1.head())

X_train = np.concatenate((X_train_1, X_train_2, X_train_3, X_train_4, X_train_5, X_train_6, X_train_7, X_train_8))
y_train = np.concatenate((y_train_1, y_train_2, y_train_3, y_train_4, y_train_5, y_train_6, y_train_7, y_train_8))
X_test = np.concatenate((X_test_1, X_test_2, X_test_3, X_test_4, X_test_5, X_test_6, X_test_7, X_test_8))
y_test = np.concatenate((y_test_1, y_test_2, y_test_3, y_test_4, y_test_5, y_test_6, y_test_7, y_test_8))

#print(df1.target,df2.target)
#print(y_train)

# Algoritmos de classificação

Vamos inicialmente tentar classificar nosso dataset de treino com um algoritmo que vimos anteriormente, o Modelo Gaussiano de Mistura, com 4 compoenntes.

In [10]:
#SVM Create a svm Classifier
#clf = svm.SVC(kernel='poly') # linear poly ou deffault Kernel kernel='poly'

#RANDOM FOREST
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#KNN
#
#clf=KNeighborsClassifier(n_neighbors=8)

#Neural networks
#clf=MLPClassifier(solver='lbfgs',max_iter=300)

#Naive Bayes; can be MultinomialNB CategoricalNB BernoulliNB ComplementNB GaussianNB
#clf=MultinomialNB()

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

#print("\nRandom Forest")

df_confusion = pd.crosstab(y_test, y_pred)
display(df_confusion)

print('\n')

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

#df_metrics = pd.DataFrame({'Unit':np.unique(y_pred),"Recall":metrics.recall_score(y_test, y_pred,average=None),"Precision":metrics.precision_score(y_test, y_pred,average=None),"F1":metrics.f1_score(y_test, y_pred,average=None)})
#display(df_metrics)

#print('\nFeature importance')


#feature_imp = pd.Series(clf.feature_importances_,index=df.data.columns).sort_values(ascending=False)
#print('\n',feature_imp)

col_0,Cabecas,Longa,Motuca,Piaui,Pimenteiras,Poti,Sambaiba,Serra Grande
row_0,,,,,,,,
Cabecas,13,0,0,3,0,2,2,0
Longa,3,7,0,0,0,2,0,0
Motuca,1,1,3,1,0,1,0,0
Piaui,2,0,0,4,1,3,0,2
Pimenteiras,1,1,0,3,5,2,0,0
Poti,3,2,0,1,1,11,0,1
Sambaiba,1,0,0,0,0,3,7,0
Serra Grande,1,0,0,1,0,3,2,11

Accuracy: 0.5495495495495496